body {
    margin: 0;
    padding: 0;
}
.background {
    background-color: rgb(185, 131, 50);
    height: 100vh;
    padding: 2px;
}
.title {
    text-align: center;
    font-size: 20px;
    margin-top: 8px;
    color: orange;
}
.title {
    color: white;
    text-align: center;
    font-size: 40px;
    margin-top: 10%;
}
.players {
    text-align: center;
    font-size: 17px;
    margin-top: 2px;
    margin-bottom: 2px;
    color: white;
}
.conceal {
    display: none;
}
.container {
    display: grid;
    max-width: 200px;
    margin: 0 auto;
    grid-template-columns: 30%,30%,30%;
    grid-template-rows: 30%,30%,30%;
}
.inner {
    display: flex;
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}
.playerD {
    color: seagreen;
}
.playero {
    color: slateblue;
}
.control {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 2em;
}
.control button{
    color: rgb(71, 9, 9);
    padding: 8px;
    border-radius: 8px;
    border: none;
    font-size: 20px;
    margin-left: 1em;
    cursor: pointer;
}
.restart {
    background-color: slateblue;
}
#refresh {
    background-color: turquoise;
}