
body {
    padding: 0;
    margin: 0;
    /* font-family: 'Itim', cursive; */
}
.background {
    background-color: #412505;
    height: 100vh;
    padding-top: 1px;
}
h1 {
    color: brown;
}
.title {
    display: flex;
    min-width: 100px;
    min-height: 100px;
    cursor: pointer;
    font-size: 40px;
    justify-content: center;
    align-items: center;
}

.display {
    color: rgb(196, 184, 184);
    font-size: 25px;
    text-align: center;
    /* margin-top: 1em; */
    margin-bottom: 1em;
}

.hide {
    display: none;
}

.container {
    margin: 0 auto;
    display: grid;
    background-color: rgba(207, 102, 63, 0.829);
    grid-template-columns: 33% 33% 33%;
    grid-template-rows: 33% 33% 33%;
    max-width: 300px;

}

.tile {
    border: 1px solid rgb(196, 184, 184);
    min-width: 100px;
    min-height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    cursor: pointer;
}

.playerX {
    color: rgb(20, 83, 57);
}

.playerO {
    color: #af064c;
}

.controls {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    margin-top: 1em;
}

.controls button {
    color: rgb(196, 184, 184);
    width: 100px;
    padding: 8px;
    border-radius: 15px;
    border: none;
    font-size: 15px;
    text-align: center;
    /* margin-left: 1em; */
    cursor: pointer;
}

.restart {
    background-color: #498AFB;
}

#reset {
    background-color: rgb(20, 83, 57);
}